body {
  background-color: #1ab2ff;
  color: #fff;
}

h1,
h2,
h3,
img,
article,
p {
  margin: 1%;
}

#flu-statistics img {
  width: 40em;
  max-width: 100%;
}

#form {
  margin: 1%;
}

a {
  color: #fff;
}

a:hover {
  color: black;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #1ab2ff;
}

.dropdown-menu .dropdown-item:active {
  color: black;
}

.testimonials {
  border-width: 1px;
  border-bottom: solid;
  border-color: #fff;
}
