body {
  background-color: #188;
  color: #fff;
}

h1,
h2,
h3,
img,
article,
p {
  margin: 1%;
}

.dropdown {
  margin: 1%;
}

#flu-statistics img {
  width: 40em;
  max-width: 100%;
}

a {
  color: #fff;
}

a:hover {
  color: black;
}
